html {
    background-color: #F2EFEA;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    display: block;
}

/* .contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
} */
.contenedor {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    text-align: center;
}

header {
    width: 100%;
}

header>img {
    width: 60px;
}

#boton_encriptar {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #BBAAB8;
    border-color: #292643;
    color: #44426E;
}

#boton_desencriptar {
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #44426E;
    /* background-color: #B9D4DB; */
    border-color: #BBAAB8;
    color: #BBAAB8;
}

#advertencia {
    width: 30px;
}

.div_principal {
    padding: 5%;
}

textarea {
    width: 100%;
    height: 25rem;
    border-style: dashed;
    border-color: #E99E75;
}

#resultados{
    width: 100%;
    height: 25rem;
    margin: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

button {
    font-size: large;
    border-radius: 5px;
    padding: 0.5em;
    margin-left: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

p>img{
    width:18rem;
}
@media (max-width: 375px) {}

@media (max-width: 770px) {
    .contenedor {
        display: block;
    }
}